/* Global styles */
body {
    background-color: #FAF9F6;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100; 
    color: #2B2B2B;
    margin: 0;
    padding: 0;
}

/* Utility Classes */
.floating-navbar {
    margin: 8px;
    border-radius: 8px;
    z-index: 1030;
    }
.navbar-footer-local {
    background-color: #282c34; 
    border: 1px solid #444;
    font-family: 'Arial', sans-serif; 
    color: #ffffff;
    }